In [2]:
import pandas as pd
import numpy as np
import src.functions_scrap_final as srcf
import requests
from bs4 import BeautifulSoup

In [3]:
df = pd.read_pickle("goldprices.pkl")
df.shape

(902, 5)

In [4]:
dfs = srcf.converttodf()
dfs

    year     month  day    price currency
40  2021  February   25  1769.91        $
39  2021  February   26  1732.60        $
38  2021     March    1  1724.44        $
37  2021     March    2  1737.94        $
36  2021     March    3  1709.61        $
35  2021     March    4  1698.08        $
34  2021     March    5  1700.71        $
33  2021     March    8  1683.23        $
32  2021     March    9  1715.50        $
31  2021     March   10  1726.40        $
30  2021     March   11  1722.44        $
29  2021     March   12  1724.89        $
28  2021     March   15  1731.12        $
27  2021     March   16  1730.45        $
26  2021     March   17  1747.06        $
25  2021     March   18  1736.10        $
24  2021     March   19  1744.74        $
23  2021     March   22  1739.35        $
22  2021     March   23  1726.50        $
21  2021     March   24  1734.26        $
20  2021     March   25  1727.91        $
19  2021     March   26  1731.97        $
18  2021     March   29  1711.99        $
17  2021     March   30  1684.80        $
16  2021     March   31  1707.01        $
15  2021     April    1  1730.18        $
14  2021     April    2  1728.84        $
13  2021     April    5  1728.44        $
12  2021     April    6  1743.45        $
11  2021     April    7  1737.28        $
10  2021     April    8  1755.94        $
9   2021     April    9  1743.10        $
8   2021     April   12  1732.51        $
7   2021     April   13  1743.83        $
6   2021     April   14  1736.00        $
5   2021     April   15  1763.21        $
4   2021     April   16  1776.31        $
3   2021     April   19  1769.31        $
2   2021     April   20  1777.25        $
1   2021     April   21  1793.46        $
0   2021     April   22  1783.46        $

In [5]:
goldprices = pd.concat([df, dfs])
goldprices = goldprices.reset_index(drop = True)
goldprices.drop_duplicates(inplace=True)
goldprices.tail(60)

     year     month  day    price currency
843  2020     April   15  1680.03        $
844  2020       May   15  1715.70        $
845  2020      June   15  1734.03        $
846  2020      July   15  1840.81        $
847  2021  February   15  1818.51        $
848  2021  February   16  1794.44        $
849  2021  February   17  1774.78        $
850  2021  February   18  1775.57        $
851  2021  February   19  1782.25        $
852  2021  February   22  1809.07        $
853  2021  February   23  1805.19        $
854  2021  February   24  1805.07        $
855  2021  February   25  1769.91        $
856  2021  February   26  1732.60        $
857  2021     March    1  1724.44        $
858  2021     March    2  1737.94        $
859  2021     March    3  1709.61        $
860  2021     March    4  1698.08        $
861  2021     March    5  1700.71        $
862  2021     March    8  1683.23        $
863  2021     March    9  1715.50        $
864  2021     March   10  1726.40        $
865  2021     March   11  1722.44        $
866  2021     March   12  1724.89        $
867  2021     March   15  1731.12        $
868  2021     March   16  1730.45        $
869  2021     March   17  1747.06        $
870  2021     March   18  1736.10        $
871  2021     March   19  1744.74        $
872  2021     March   22  1739.35        $
873  2021     March   23  1726.50        $
874  2021     March   24  1734.26        $
875  2021     March   25  1727.91        $
876  2021     March   26  1731.97        $
877  2021     March   29  1711.99        $
878  2021     March   30  1684.80        $
879  2021     March   31  1707.01        $
880  2021     April    1  1730.18        $
881  2021     April    2  1728.84        $
882  2021     April    5  1728.44        $
883  2021     April    6  1743.45        $
884  2021     April    7  1737.28        $
885  2021     April    8  1755.94        $
886  2021     April    9  1743.10        $
887  2021     April   12  1733.14        $
888  2021     April   12  1733.55        $
889  2021     April   12  1732.51        $
890  2021     April   13  1727.40        $
891  2021     April   13  1725.91        $
892  2021     April   13  1743.83        $
893  2021     April   14  1735.36        $
894  2021     April   14  1736.79        $
895  2021     April   14  1736.00        $
896  2021     April   15  1763.21        $
897  2021     April   16  1776.31        $
898  2021     April   19  1769.31        $
899  2021     April   20  1777.25        $
900  2021     April   21  1793.46        $
901  2021     April   22  1788.04        $
942  2021     April   22  1783.46        $

In [6]:
goldprices.to_pickle("./goldprices.pkl")